<div id="header">
    <a href="#home" target="_top">Início</a>
    <a href="#about" target="_top">Acerca de mim</a>
    <a href="#portfolio" target="_top">Portfolio</a>
    <a href="#contact" target="_top">Contacto</a>
</div>
